.message {
    box-sizing: border-box;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.contact {
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
    background-color: white;
}

#messages-container {
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 75%;
    max-height: 75%;
    overflow-y: scroll;
    width: 100%;
}