* {
    box-sizing: border-box;
}

.form {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    background-color: lightseagreen;
}

.categories {
    padding: 5px;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    height: max-content;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}