* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
    min-width: 300px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 40px;
    margin: 10px;
    padding: 10px;
}

navbar-element {
    width: 100%;
}

#nav {
    width: 100%;
    margin-bottom: 10px;
}

#header {
    flex-grow: 1;
    margin-bottom: 10px;
}

create-post-form {
    width: 100%;
}

#main {
    margin: 0px 5px 20px 5px;
    padding: 5px;
    flex-grow: 2;
    width: 100%;
    max-height: 69vh;
    overflow-y: scroll;
    background-color: lightseagreen;
    border-radius: 5px;
}

#chat {
    margin: 0px 5px 10px 5px;
    padding: 5px;
    flex-grow: 1;
    width: 100%;
    max-height: 69vh;
    overflow-y: scroll;
    background-color: lightseagreen;
    border-radius: 5px;
}

post-element {
    width: 100%;
    
}
contact-element {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #main {
        min-width: 200px;
        max-width: 60vw;
    }
    #chat {
        min-width: 100px;
        max-width: 30vw;
    }
}

@media only screen and (max-width: 767px) {
    #main {
        width: 100%;
    }
    #chat {
        width: 100%;
    }
}

hr {
    background-color: lightblue;
    color: lightblue;
}