html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #efefef;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(0px, auto);
    min-width: 400px;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    grid-row: 1;
    grid-column: 1 / 4;
    background-color: lightblue;
}

#nav {
    box-sizing: border-box;
    width: 100%;
}

#header {
    box-sizing: border-box;
    grid-row: 2;
    grid-column: 1 / 3;
}

create-post-form {
    height: 100%;
}

#main {
    box-sizing: border-box;
    grid-row: 3;
    grid-column: 1 / 3;
    max-height: 70vh;
    overflow-y: scroll;
}

#chat {
    box-sizing: border-box;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 3;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: lightblue;
}

/* chat-element {
    display: flex;
} */